body {
    font-family: 'Arial', sans-serif;
    background-color: lightcoral;
    color: rgb(6, 43, 43);
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    text-align: center;
}

#entry-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#entry-page img {
    max-width: 80%;
    height: auto;
    margin-bottom: 2em;
}

.enter-button {
    display: inline-block;
    padding: 1em 2em;
    background-color: lightseagreen;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.enter-button:hover {
    background-color: darkcyan;
}

header, footer {
    font-family: cursive;
    background-color: lemonchiffon;
    color: lightcoral;
    padding: .5em;
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
    font-family: crsive;
}

h1 {
    color: salmon;
    font-size: 3em;
    text-shadow: indigo 1px 2px 5px;
}

h2 {
    color: lightseagreen;
    font-size: 1.5em;
    text-shadow: lightcyan 1px 2px 3px;
}

h3 {
    color: deepskyblue;
    font-size: 1.5em;
    text-shadow: indigo 2px 2px;
}

nav ul {
    list-style-type: none;
    display: flow-root;
    align-self: flex-start;
}

nav li a {
    display: inline-flex;
    font-weight: bold;
    border: 1em solid turquoise;
    border-radius: 1em;
    text-decoration: wavy underline overline teal 2px;
    color: salmon;
    background: turquoise;
    text-shadow: mistyrose 1px 1px 2px;
    box-shadow: aquamarine 1px 1px 2px;
    margin: .5em;
}

nav ul li a:hover {
    border: 1em solid lavender;
    border-radius: 2em;
    background: lavender;
    color: lemonchiffon;
    text-decoration: overline wavy aqua 2px;
}

a:visited {
    color: teal;
    font-weight: lighter;
    text-decoration: line-through 3px;
}

section {
    padding: 2em;
    margin-bottom: 5em;
    background-color: lightgoldenrodyellow;
    border-radius: 5em;
    box-shadow: 0 2px 5px aqua;
}

.notes, .description {
    display: block;
    font-style: italic;
    text-align: center;
    margin: 1em;
}

.notes {
    color: darkorchid;
    display: list-item;
    list-style: circle inside;
    font-size: .9em;
    font-weight: bolder;
}

.description {
    color: rgb(45, 104, 124);
    font-size: 1.1em;
    text-wrap: pretty;
}
#home {
    display:block;
    margin: 2em;
    overflow: auto;
    box-shadow: .2em .3em 2em 1em teal;
    background-color: turquoise;
    border-radius: 10;
}