body {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    background-color: lightcoral;
    color: rgb(6, 43, 43);
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    text-align: center;
}

#entry-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#entry-page img {
    max-width: 80%;
    height: auto;
    margin-bottom: 2em;
}

.enter-button {
    display: inline-flex;
    /* display: inline-block; */
    font-family: 'Great Vibes', cursive;
    font-size: 1.3em;
    font-weight: bold;
    border: 1em solid  #8fccd0;
    border-radius: 1em;
    text-decoration: wavy underline overline teal 2px;
    color: salmon;
    background:  #8fccd0;
    text-shadow: mistyrose 1px 1px 2px;
    box-shadow: aquamarine 1px 1px 2px;
    margin: .5em;
    transition: background-color 0.3s ease;
}

.enter-button:hover {
    border: 1em solid lavender;
    border-radius: 2em;
    background: lavender;
    color: lemonchiffon;
    text-decoration: overline wavy aqua 2px;
}

header, footer {
    font-family: 'Indie Flower', cursive;
    background-color: lemonchiffon;
    color: lightcoral;
    padding: .5em;
    text-align: center;
}

h1, h2, h3 {
    background: lemonchiffon;
    border: 1px solid lightcoral;
    border-radius: 1em;
    text-align: center;
}

h1 {
    color: salmon;
    font-size: 3.5em;
    text-shadow: indigo 1px 2px 5px;
    font-family: 'Great Vibes', cursive;
}

h2 {
    color: lightseagreen;
    font-size: 2em;
    text-shadow: orchid 1px 2px 3px;
}

h3 {
    color:  #8fccd0;
    font-size: 1.5em;
    text-shadow: indigo 2px 2px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1em;
    font-family: 'Indie Flower', cursive;
}

nav li a {
    display: inline-flex;
    font-family: 'Great Vibes', cursive;
    font-size: 1.3em;
    font-weight: bold;
    border: 1em solid  #8fccd0;
    border-radius: 1em;
    text-decoration: wavy underline overline teal 2px;
    color: salmon;
    background:  #8fccd0;
    text-shadow: mistyrose 1px 1px 2px;
    box-shadow: aquamarine 1px 1px 2px;
    margin: .5em;
}

nav ul li a:hover {
    border: 1em solid lavender;
    border-radius: 2em;
    background: lavender;
    color: lemonchiffon;
    text-decoration: overline wavy aqua 2px;
}

a:visited {
    color: teal;
    font-weight: lighter;
    text-decoration: line-through 3px;
}

section {
    padding: 2em;
    margin-bottom: 5em;
    background-color: blanchedalmond;
    border-radius: 5em;
    box-shadow: 2px 2px 5px lightcyan;
}

.notes, .description {
    display: block;
    font-style: italic;
    text-align: center;
    margin: 1em;
}

.notes {
    color: darkorchid;
    display: list-item;
    list-style: circle inside;
    font-size: .9em;
    font-weight: bolder;
}

.description {
    color: rgb(45, 104, 124);
    font-size: 1.1em;
    text-wrap: pretty;
}
#home {
    display:block;
    margin: 2em;
    overflow: auto;
    box-shadow: .2em .3em 2em 1em teal;
    background-color: turquoise;
    border-radius: 10;
}
.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .map {
    width: 100%; 
    height: 100%;
    margin: 1.2em;
    border-radius: 1em;
    box-shadow: aquamarine 1px 1px 2px;
}